/* Import obligatoire pour Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux pour assurer le plein écran */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8fafc; /* Fallback color */
}

/* Scrollbar personnalisée (Optionnel mais joli) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; 
}
::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; 
}


input.bg-white.border.border-slate-300\:ring-2\:ring-emerald-500.font-bold.ng-pristine.ng-touched.ng-valid.outline-none.pl-3.pr-8.px-3.py-2.rounded.text-right.text-slate-700.w-full{
          min-width: 120px !important;

}